

/*--------------------------------1200 to 1600--------------------------------  */
@media only screen and (max-width:1600px){
    
 /***************************** Nav and footer***************************************/

    .nav{
                 
        padding-right: 0%;
   
        
        }

        .nav li{ 
            
            padding :20px 15px 15px 15px;
            margin:20px 10px 5px 10px;
       

        }

        .nav .logo{
        
        
    
            margin-left :1%;
            margin-top:10px;
            font-size: 140%;
        }

 /***************************** ***************************************/




  /***************************** Write here ***************************************/


   /***************************** ***************************************/





        }








        
/*--------------------------------1200 to 1024--------------------------------  */
@media only screen and (max-width:1200px){
    

    /***************************** Nav and footer***************************************/

                    /*NAV */

                .nav{
                 
                padding-right: 0%;
           
                
                }

                .nav li{ 
                    
                    padding :20px 15px 15px 15px;
                    margin:20px 10px 5px 10px;
                    float :right;
                    display: inline-block;
                    position: relative;
                    

                }

                .nav .logo{
                
                
            
                    margin-left :1%;
                    margin-top:10px;
                    font-size: 140%;
                }


                
                /*Footer */



                #footer-section{
                    margin: 2.5em 0em;
                }


                .contact-part {
                    font-size: 1.4em;
                }


/***************************** index page***************************************/


                /*feateur section */

            .box_text{
                     margin-top: 15px;
                }
                /*About section */
               
                .box-txt a{
                   
                    width:30%;
               
                }
                .box-txt h1{ 
                    font-size: 320%;
                    line-height: 1.4;
                    margin-top:20px;
            }

                /*Projects  section */

            .Projects-section{
                margin-bottom: 20px;
            }
            .proj-text-box {
                font-size: 100%;
                transition: font-size 1s ease-in;
            }
            /* gallery grid*/
            .gallery-box{
                grid-template-columns: repeat(2,1fr);
            }




            /*Our Team  section */
            .OurTeam-section{
                padding:20px;
            }
            .img-box{
                margin:15px;
            }

            /*Contact section */


            .contact-box{
                padding:60px 40px;
            }




/*****************************  end index page***************************************/







                }







/*--------------------------------768 to 1023---------------------------------*/

@media only screen and (max-width:1023px){

    

        /***************************** Nav and footer***************************************/

                    /*NAV */

                    
        
                        .nav li{ 
                            
                            padding :25px 15px 15px 15px;
                            margin:25px 4px 5px 0px;
                     
                            
        
                        }
        
                        .nav .logo{
                        
                        
                    
                            margin-left :0.5%;
                            margin-top:10px;
                            font-size: 110%;
                            
                        }
                        .nav .logo a span{
                                font-size: 100%;
                        }
        
                        
                        /*Footer */
        
        
        
                        #footer-section{
                            margin: 2.5em 0em;
                        }
        
        
                        .contact-part {
                            font-size: 1.4em;
                        }

                        
/***************************** index page***************************************/

                     /*Featuer section */

                .box{
                        padding:20px;
                }

                .big_icon{ 
                        font-size: 200%;
                        height: 75px;
                        width: 75px;
                        padding: 20px 23px 17px 23px;
                }
                .box_text{
                    padding:20px;
                }

                          /*About section */
               
                .box-txt a{
                        
                            width:36%;
                    
                        }
                .box-txt h1{ 
                            font-size: 300%;
                            line-height: 1.3;
                            margin-top:20px;
                    }

                        /*Projects  section */

                    .Projects-section{
                        margin-bottom: 20px;
                    }
                    .proj-text-box {
                        font-size: 100%;
                        transition: font-size 1s ease-in;
                    }


                    .proj-text-box p{
                        width:80%;
                        text-align: center;
                    }
                    




                    /*Contact section */


                    .contact-box h1{
                       font-size: 350%;
                    }




/*****************************  end index page***************************************/






}





/*481 to 767        this is the requier for Assignment*/ 
@media only screen and (max-width:767px){

/***************************** Nav and footer***************************************/

    
                  /* drop down NAV */

                  .nav{
                 
                    padding-right: 0%;
                    height: auto;
                    text-align: center;
                    font-size: 90%;
                    display: flex;
                    flex-direction: column;
                    
                    align-items: center;
                    position: relative;
                    margin-top:15px;
                    margin-bottom :40px;

                    }
    
                    .nav li{ 
                        
                        padding :20px 5px 20px 5px;
                        margin:5px 10px 10px 10px;
                        float :left;
                        
                    }
    
                    .nav .logo{
                    
                        width:100%;
                        float: left;
                        padding :15px 5px 0px 5px;
                        margin:5px 10px 0px 10px;
                        font-size: 120%;
                        height: 55px;
                    }
                    .index-header{
                        flex-direction: column;
                       justify-content: flex-start;
                    }

                    .nav .logo img{
                        width:50px;
                        height: 50px;
                    }
    

    /***************************** index page***************************************/
                    



                    /*  header title */
    
                    .index-header{
                        height:120vh;

                    }
                    .title-box h1{
                        font-size: 200%;
                        margin-bottom: 20px;
                    }

                    /*feateur section */
    
                    .feauture_section{
                        flex-direction: column;
                    }

                    .box_text{
                         margin-top: 5px;
                         
                    }

                    /*About section */
                   
                /*  comman line for both about and blog sections */
                    .contact-section,.blog-section,.about-section{ 
                       flex-direction: column;
                        
                    }
                    .box-img{
                        width:100%;
                        height: 50vh;
                    }
                    .box-txt{
                        width:100%;
                        height: 52vh;
                        

                    }

                    .box-txt a{
                       
                        width:30%;
                        margin-bottom:15px;
                    }
                    .box-txt h1{ 
                        font-size: 240%;
                        line-height: 1.4;
                        margin-top:8px;
                }
    
                    /*Projects  section */
    
                .Projects-section{
                    margin-bottom: 20px;
                }
                .proj-text-box {
                    font-size: 100%;
                    transition: font-size 1s ease-in;
                }

                .proj-text-box h1{
                    font-size: 200%;
                    margin-bottom:20px;
                }
                .proj-text-box p{ 
                    line-height: 1.5;
                }

                /* gallery grid*/
                .gallery-box{
                    grid-template-columns: 1fr;
                    gap:5px;
                    padding:40px 25px;
                }
    
                
                /* blog section*/
                .blog-section {
                   flex-direction: column-reverse;
                }
    
    
                /*Our Team  section */
                
                .OurTeam-section{
                    padding:60px 30px
                }

                .img-box{
                    width:80%;
                }

                .OurTeam-img-box{
                    flex-direction: column;
                }


    
                /*Contact section */
                .contact-box h1{ 

                    margin-bottom:20px;

                }
    
                .contact-box{
                    padding:60px 40px;
                    width:100%;
                }
                input{
                   
                }
    
    


/*****************************  end index page***************************************/

/*****************************BLOG ************************/

.grid-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "blog-header" "blog-content" "footer";
    height: 100vh;
}

.blog-header {
    grid-area: blog-header;
}

.blog-header h1 {

        display: none;
}
.blog-content {
    grid-area: blog-content;
    display: grid;
    grid-template-columns: 1fr;
}

.readBtn {
    display: block;
    width: 100%;
}

#featuer  {
    grid-area: footer;
}


/***** POST *******/

.wrapper-post{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-header" "post-area" "footer";
}

#post-header {
    grid-area: post-header;
    grid-template-columns: 1fr;
    background-position: center;
}

.post-area {
    grid-area: post-area;
    display: grid;
    grid-template-columns: 1fr;
}

.post {
    display: none;
}

#featuer  {
    grid-area: footer;
}



}
    



/*0 to 480        this is the requier for Assignment*/ 

@media only screen and (max-width:480px){





                  /* drop down NAV */

                  .nav{
                 
                    padding-right: 0%;
                    height: auto;
                    text-align: center;
                    font-size: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    }
    
                    .nav li{ 
                        
                        padding :20px 5px 20px 5px;
                        margin:5px 5px 5px 5px;
                        float :left;
                        
                    }
    
                    .nav .logo{
                    
                        width:90%;
                        float: left;
                        margin:5px auto 0px auto;
                        font-size: 160%;
                    }
    

/***************************** index page***************************************/
                    .index-header{
                        height:130vh;

                    }

                    .title-box{
                        font-size: 120%;
                    }

                    .title-box p{ 
                        padding:2px;
                    }
                        .box-txt{
                            height: 90vh;
                        }
                    .box-txt a{
                                        
                        width:45%;
                        margin-bottom:15px;
                    }
                    .box-txt h1{ 
                        font-size: 220%;
                        line-height: 1.4;
                        margin-top:8px;
                    }

                    input[type=submit]{
                        background-color:#1c9e75;
                        color:#fff;
                        cursor: pointer;
                        margin-top:25px;
                        transition: box-shadow 0.1s ease-in;
                        border-radius: 10px;
                    }

                    .gallery-box{
                        padding:20px;
                    }


                    .proj-text-box{
                        margin-bottom:0px;
                    }
                    .proj-text-box h1{
                        font-size: 200%;
                    }
/*****************************  end index page***************************************/












/*============= Blog Page =============*/

    /****BLOG *****/

.grid-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "blog-header" "blog-content" "footer";
    height: 100vh;
}

.blog-header {
    grid-area: blog-header;
    display: grid;
    grid-template-columns: 1fr;
}
.blog-header h1 {

        display: none;
}

.blog-content {
    grid-area: blog-content;
    display: grid;
    grid-template-columns: 1fr;
}

.readBtn {
    display: block;
    width: 100%;
}

#featuer  {
    grid-area: footer;
}


/*** POST *****/

.wrapper-post{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-header" "post-area" "footer";
}

#post-header {
    grid-area: post-header;
    grid-template-columns: 1fr;
    background-position: center;
}

.post-area {
    grid-area: post-area;
    display: grid;
    grid-template-columns: 1fr;
}

.post {
    display: none;
}

#featuer  {
    grid-area: footer;
}


/********END *************/

}