

/*1200 to 1600  */
@media only screen and (max-width:1600px){
    











}


/*1200 to 1024  */
@media only screen and (max-width:1200px){
    











}



/*768 to 1023*/
@media only screen and (max-width:1023px){

    





}


/*481 to 767        this is the requier for Assignment*/ 
@media only screen and (max-width:769px){

/***** POST *******/

wrapper-post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-header" "post-area" "footer";
}

#post-header {
    grid-area: post-header;
    grid-template-columns: 1fr;
}

.posters {
    background-position: center;
}
.post-area {
   display: grid;
   grid-template-columns: 1fr;
}

#featuer  {
    grid-area: footer;
}


    
}


/*0 to 480        this is the requier for Assignment*/ 
@media only screen and (max-width:481px){

    /****BLOG *****/

.gird-blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "blog-header" "blog-content" "footer";
}

.blog-header {
    grid-area: blog-header;
    grid-template-columns: 1fr;
    background-position: center;
}

.blog-content {
    grid-area: blog-content;
    display: grid;
    grid-template-columns: 1fr;
}

.readBtn {
    display: block;
    width: 100%;
}

#featuer  {
    grid-area: footer;
}


/*** POST *****/

wrapper-post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-header" "post-area" "footer";
}

#post-header {
    grid-area: post-header;
    grid-template-columns: 1fr;
}
.posters {
    background-position: center;
}
.post-area {
   display: grid;
   grid-template-columns: 1fr;
}

#featuer  {
    grid-area: footer;
}


    
}