
/*****************************Common styles for all ***************************************/






            *{
                box-sizing: border-box;
                margin: 0;
                padding:0;
                
            }


            body{
                font-size: 1em;
                font-family: Tahoma, sans-serif;
                height: auto;
                position: relative;
                width: 100%;
                margin:0 auto;
            
            }




       


     




/***************************** End of Common styles for all ***************************************/


                /***************************** nav style***********************/

                .nav{
                    width:100%;   
                  
                    font-size: 100%;
                   
                   align-content: center;
                   position: fixed;
                   background-color:transparent;
                   height: 80px;
                   padding-right: 2%;
                   z-index: 2;
                   
                }
                
                .nav li{ 
                     
                    padding :20px 20px 15px 20px;
                    margin:20px 25px 5px 30px;
                    float :right;
                    display: inline-block;
                    position: relative;
                    
                
                }
                
                .nav li a{ 
                    text-decoration: none;
                    color : white;
                    
                }
                
                .nav li:hover{ 
                    border-bottom:2px solid #1c9e75;
                    transition: color 0.2s ease-in;
                     
                 }
                
             



                .nav .logo:hover {
                     border :none;
                 }
                .nav .logo{
                
                
                    position: relative;
                    float: left;
                    height: 70px;
                    overflow: hidden;
                    margin-left :5%;
                    margin-top:10px;
                    font-size: 160%;
                }
                .logo span{
                    color:#1c9e75;
                }
    
                .logo img{
                    vertical-align: middle;
                    max-width:100%;
                    margin-top:-25px;
    
                }
    
                   
/* sub nav, Dropmenu bar */





/*****************************the end  nav ******************/








/***************************** footer style***********************/

                footer {

                    background-color: #1c9e75;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #footer-section {
                    display: grid;
                    grid-template-columns:repeat(4, 1fr);
                    grid-template-rows: 1fr 1fr;
                    row-gap: 3em;  
                    justify-content: center;
                    align-items: center;
                    margin-top: 5em;
                    grid-template-areas:
                    ". . . ."
                    "copy copy copy copy";
            
                }

                .copy-right {
                    grid-area: copy;
                    padding: 1em;
                    width:20em;
                }
                .contact-part {
                    font-size: 1.8em;
                }
                
              



/*****************************the end  footer ******************/







/*****************************the end  common style*******************************/



















/***************************** index page***************************************/

    /* headr */

    
        
        

    .index-header { 
            max-width:100%;
            overflow: hidden;
            position: relative;
            padding : 0px 0;
            
            background: rgb(240, 240, 240);
            height:100vh;
            background-image: linear-gradient(#0f0f0f8a, #1f1f1f91),url(img/wallpaper.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    


        .title-box{
            display: flex;
            flex-direction: column;

            align-items: center;
            width:100;
            z-index: 1;
            color:#fff;
            text-align: center;
            font-size: 160%;
            
        }
        
        .title-box h1{
            
            width:100%;
            margin-bottom:40px;
            font-family: 'Spectral', serif;
            font-weight: 400;
            
            
        }
    
        .title-box p{
            font-family: 'Spectral', serif;

            margin-bottom: 35px;
            font-weight: bold;
        }


        .btn-explore{
            color:#ffffff; 
            text-decoration: none;
            background-color:#1C9E75;
            padding:15px 35px;
            border-radius: 6px;
        }
        .btn-explore::before{
            content: '\003E';
            
        }


         /* featuer section */

         .feauture_section{
             display: flex;
             justify-content: space-around;
             padding: 60px 0px;
         }





        .box{
            padding: 40px;
            margin: 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #2b2b2b;
        }
        

        
        .big_icon{
            display: block; 
            font-size: 220%;
            color:#ffffff;
            margin-bottom: 20px;
            background-color: #1C9E75;
            height: 85px;
            width: 85px;
            border-radius: 70px;
            padding: 25px;
            text-align: center;
        }


        .box_text{
            margin-top: 35px;
            font-size: 100%;
            font-weight: 300;
            word-spacing: 1px;
            line-height: 1.5;
            
                
        }

        .feauture_section h3{
            font-weight: 500;
            margin-top:10px;
            font-size: 125%;

            
        }
        


        
        /* 2 section */


/*****************************the end index page*******************************/


















/***************************** blog page***************************************/

.wrapper {
    letter-spacing: 1.5px;
}

#blog-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas: "HBG HBG";
}
.header-img {

    background-image: linear-gradient(rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.589)),url(img/blogHeader.jpg);
    grid-area: HBG;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img h1 {

    color: white;
    font-size: 5em;
    font-weight: lighter;
   
}
.blog-img1 {

    background-image: url(img/blogImg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    
}
.blog-img2 {

    background-image: url(img/blogImg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.name-poster {

    font-weight: bolder;

}
.blog-descriptions {
    padding: 2em;
}

.blog-descriptions h1 {
    font-weight: lighter;
    margin-bottom: 3em;
}
.user-data {
    margin-bottom: 2em;
}

.blog-descriptions p {
    margin-bottom: 3em;
}
#description1 {
    color:  #585858;
    line-height: 2;
}
#description2 {
    background-color: #585858;
    color: white;
    line-height: 2;
}
.read-more-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}
.read-more-btn {
    width:11em;
    padding: 1em;
    margin-top: 2em;
    background-color:#1c9e75; 
    border: none;
}

.read-more-btn:hover {

    background-color: rgb(0, 151, 0);
}







/*****************************the end blog page*******************************/







/***************************** post page***************************************/














/*****************************the end bost page*******************************/

























