
/*****************************Common styles for all ***************************************/






            *{
                box-sizing: border-box;
                margin: 0;
                padding:0;
                
            }


            body{
                font-size: 1em;
                font-family: Tahoma, sans-serif;
                height: auto;
                position: relative;
                width: 100%;
                margin:0 auto;
            
            }




       


     




/***************************** End of Common styles for all ***************************************/


                /***************************** nav style***********************/

                .nav{
                    width:100%;   
                  
                    font-size: 100%;
                   
                   align-content: center;
                   position: fixed;
                   background-color:transparent;
                   height: 80px;
                   padding-right: 2%;
                   z-index: 2;
                   
                }
                
                .nav li{ 
                     
                    padding :20px 20px 15px 20px;
                    margin:20px 25px 5px 30px;
                    float :right;
                    display: inline-block;
                    position: relative;
                    
                
                }
                
                .nav li a{ 
                    text-decoration: none;
                    color : white;
                    
                }
                
                .nav li:hover{ 
                    border-bottom:2px solid #1c9e75;
                    transition: color 0.2s ease-in;
                     
                 }
                
             



                .nav .logo:hover {
                     border :none;
                 }
                .nav .logo{
                
                
                    position: relative;
                    float: left;
                    height: 70px;
                    overflow: hidden;
                    margin-left :5%;
                    margin-top:10px;
                    font-size: 160%;
                }
                .logo span{
                    color:#1c9e75;
                }
    
                .logo img{
                    vertical-align: middle;
                    max-width:100%;
                    margin-top:-25px;
    
                }
    
                   
/* sub nav, Dropmenu bar */





/*****************************the end  nav ******************/








/***************************** footer style***********************/

                footer {

                    background-color: #1c9e75;
                    color: white;
                }
                #footer-section {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    padding: 5%;
                    justify-items: center;
                }
                
                .contact-part h3 {
                    width: 100%;
                    
                    color:#2b2b2b;
                    margin-bottom: 10%;
                    font-size: 1.5rem;
                }
                .contact-part p {
                
                    padding:6% 0px;
                    margin-bottom: 3%;
                    font-size: 1.0rem;
                }




/*****************************the end  footer ******************/







/*****************************the end  common style*******************************/



















/***************************** index page***************************************/

    /* headr */

    
        
        

    .index-header { 
            max-width:100%;
            overflow: hidden;
            position: relative;
            padding : 0px 0;
            
            background: rgb(240, 240, 240);
            height:100vh;
            background-image: linear-gradient(#0f0f0f8a, #1f1f1f91),url(img/wallpaper.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    


        .title-box{
            display: flex;
            flex-direction: column;

            align-items: center;
            width:100;
            z-index: 1;
            color:#fff;
            text-align: center;
            font-size: 160%;
            
        }
        
        .title-box h1{
            
            width:100%;
            margin-bottom:40px;
            font-family: 'Spectral', serif;
            font-weight: 400;
            
            
        }
    
        .title-box p{
            font-family: 'Spectral', serif;

            margin-bottom: 35px;
            font-weight: bold;
        }


        .btn-explore{
            color:#ffffff; 
            text-decoration: none;
            background-color:#1C9E75;
            padding:15px 35px;
            border-radius: 6px;
        }
        .btn-explore::before{
            content: '\003E';
            
        }


         /* featuer section */

         .feauture_section{
             display: flex;
             justify-content: space-around;
             padding: 60px 0px;
         }





        .box{
            padding: 40px;
            margin: 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #2b2b2b;
        }
        

        
        .big_icon{
            display: block; 
            font-size: 220%;
            color:#ffffff;
            margin-bottom: 20px;
            background-color: #1C9E75;
            height: 85px;
            width: 85px;
            border-radius: 70px;
            padding: 25px;
            text-align: center;
        }


        .box_text{
            margin-top: 35px;
            font-size: 100%;
            font-weight: 300;
            word-spacing: 1px;
            line-height: 1.5;
            
                
        }

        .feauture_section h3{
            font-weight: 500;
            margin-top:10px;
            font-size: 125%;

            
        }
        


        
        /* 2 section */


/*****************************the end index page*******************************/


















/***************************** blog page***************************************/










/*****************************the end blog page*******************************/







/***************************** post page***************************************/














/*****************************the end bost page*******************************/

























